body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f3f3f3;
}

.slider {
  margin-top: 50px;
}

img {
  border-radius: 10px;
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.controls {
  margin: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}
